html,
body {
    margin: 0;
    overflow: hidden;
    background: #000;
    touch-action: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

#arElem {
    position: absolute;
    width: 200px;
    height: 285px;
    display: none;
    border: 1px solid black;
    background: white;
    pointer-events: none;
}

#arWrapper {
    pointer-events: none;
}

#overlay {
    pointer-events: none;
}

#loading {
    left: 50%;
    width: 200px;
    margin-left: -100px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    position: fixed;
    z-index: 10000;
    bottom: 20px;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    word-wrap: break-word;
    transition: opacity 0.5s;
}

#loading.hide {
    opacity: 0;
    pointer-events: none;
}

#stats {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    opacity: 0.8;
}

@media (max-width: 480px) {
    #stats {
        transform: scale(0.7);
        transform-origin: top left;
    }
}
